// app global css
@font-face
    font-family Tittilium
    src url(themes/fonts/Titillium_Web/TitilliumWeb-Regular.ttf)
.titillium
  font-family 'Tittilium', sans-serif !important
  letter-spacing 0.1rem
  font-weight 600
  line-height 1.2

.bg-main
  background-image url("../assets/img/blue_bg.jpg") /* The image used */
  background-position center /* Center the image */
  background-repeat no-repeat /* Do not repeat the image */
  background-size cover /* Resize the background image to cover the entire container */

.q-layout-drawer
  height calc(100vh - 50px)
  top 50px