// app global css
@font-face
    font-family Tittilium
    src url(themes/fonts/Titillium_Web/TitilliumWeb-Regular.ttf)
.titillium
  font-family 'Tittilium', sans-serif !important
  letter-spacing 0.1rem
  font-weight 600
  line-height 1.2
